#single_comment_display
  .pure-g
    .pure-u-1-4
      %a{href: user_profile_path(comment.user)}
        %p
          @
          = comment.user.name
      %a{href: user_profile_path(comment.user)}
        - if comment.user.profile.profile_picture.icon
          %img{src: comment.user.profile.profile_picture.icon}
    .pure-u-3-4
      %p= comment.comment
      - if comment.user != current_user
        - if comment.flagged?
          %p Flagged!
        -else
          = link_to 'Flag', inappropriate_resort_comment_path(Resort.find(params[:id]), comment) 
      