body {
  text-align: center;
  padding: 5%;
}

.menu {
  ul {
    li {
      font-weight: bold;
      font-size: 22px;
      display: block;
      text-align: left;
      label {
        color: #F0F;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.main_section {
  h1 {
    font-size: 52px;
  }
  #search {
    .pure-form {
      input {
        font-size: 32px;
        padding: 0.5%;
        margin: 1.5%;
      }
      #input_button {
        color: #fff;
        font-size: 22px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
      }
    }
  }
  #sign-up {
    .pure-form {
      input {
        font-size: 22px;
        padding: 0.25%;
        margin: 0.75%;
      }
      #input_button_sign_up {
        color: #fff;
        font-size: 16px;
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 0.25%;
        padding-bottom: 0.25%;
      }
    }
  }
  #sign-in {
    .pure-form {
      input {
        font-size: 22px;
        padding: 0.25%;
        margin: 0.75%;
      }
      #input_button_sign_in {
        color: #fff;
        font-size: 16px;
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 0.25%;
        padding-bottom: 0.25%;
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    ul {
      li {
        font-weight: none;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        padding: 2%;
      }
    }
  }
  .main_section {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 24px;
    }
    #search {
      .pure-form {
        input {
          font-size: 24px;
        }
      }
    }  
    #sign-up {
      input {
        font-size: 16px;
      }
    }
    #sign-in {
      input {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .menu {
    ul {
      li {
        font-size: 16px;
      }
    }
  }
  .main_section {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
    }
    #search {
      .pure-form {
        input {
          font-size: 18px;
        }
      }  
    }
    #sign-up {
      .pure-form {
        input {
          font-size: 18px;
        }
      }  
    }
    #sign-in {
      .pure-form {
        input {
          font-size: 18px;
        }
      }  
    }
  }
}

#map_canvas {
  display: inline-block;
  width: 500px;
  height: 500px;
  background-image: url('assets/ajax-loader.gif');
  float: left;
  margin-right: 5px;
}