* {
  font-family: DINBol, Helvetica, Arial, sans-serif;
}

body {
  text-align: center;
  span.magenta {
    color: #FF00DE;
  }

  span.ui-helper-hidden-accessible {
    color: #FF00DE;
  }

  ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    list-style-type: none;
    text-align: center;
    margin-top: 20%;
    li {
      color: #FF00DE;
      padding: 1%;
    }
  }
}


footer {
  background: #555;
  border-top: solid #FF00DE 3px;
  color: #FFF;
  h2 {
    padding-top: 2%;
  }
  img {
    padding-left: 5%;
    padding-right: 5%;
  }
  .privacy {
    margin-top: 2%;
  }
  .rights {
    margin-top: 2%;
    font-size: 12px;
    padding-bottom: 3%;
  }

}


.notice {
  color: #FF00DE;
  font-weight: bold;
  font-size: 18px;
}

#sign-up {
    padding-top: 5%;
    padding-bottom: 20%;
    background-image: url('/assets/signup2.jpg');
    background-size: cover;
    .pure-form {
      input {
        font-size: 22px;
        padding: 0.25%;
        margin: 0.75%;
      }
      #input_button_sign_up {
        color: #FF00DE;
        font-weight: bold;
        font-size: 22px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
      }
      .social_sign_ins { 
        margin-top: 2%; 
      }
    }
  }
  #sign-in {
    padding-top: 5%;
    padding-bottom: 20%;
    background-image: url('/assets/signin.jpg');
    background-size: cover;
    .pure-form {
      input {
        font-size: 22px;
        padding: 0.25%;
        margin: 0.75%;
      }
      label {
        color: #000;
        font-weight: bold;
      }
      a {
        font-weight: bold;
        color: #000;
        font-size: 18px;
      }
      a:hover {
        color: #FF00DE;
      }
      .social_sign_ins { 
        margin-top: 2%; 
      }
      #input_button_sign_in {
        color: #FF00DE;
        font-weight: bold;
        font-size: 22px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
      }
    }
  }

.menu {
  padding-left: 4%;
  padding-right: 4%;
  p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    img {
    width: 20%;
  }
  .social_sign_ins {
    margin-top: 5%;
  }
  
  #sign_out { 
      float: left; 
    } 
  } 

  #profile_pic_layout {
    img, label { 
    border-radius: 50%;
    float: right; }
    label {
      color: #FF00DE;
      font-weight: bold;
      padding-right: 1%;
      font-size: 66px;
    }
    img {
      margin-top: 2.5%;
    }
  }
  #logo_signed_in {
    #sign_out {
      float: left;
    }
  }
  #logo_signed_out {
    float: right;
    img {
      max-width: 60%;
    }
  }
  ul {
    li {
      font-weight: bold;
      font-size: 22px;
      display: block;
      text-align: left;
      a {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        color: #FF00DE;
      }
    }
  }
}


.main_section {
  #admin_panel {
    table {
      margin-bottom: 5%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      background-color: #eee;
      tr {
        th {
          padding: 2%;
        }
        td{
          padding: 1%;
          border-bottom: solid #fff 1px;
          a {
            text-decoration: none;
            color: #555;
          }
          a:hover {
            color: #FF00DE;
          }
        } 
      }
    }
  }

  #location-overview {
    #map_canvas {
      border-top: solid #FF00DE 3px;
      display: inline-block;
      width: 100%;
      height: 600px;
      float: left;
      margin-right: 5px;
      a {
        font-size: 14px;
      }
    }
  }

  #search {
    background-image: url('/assets/skiers.jpg');
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 25%;
    h1 {
      font-size: 72px;
    }
    .pure-form.pure-form-stacked {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      input {
        font-size: 26px;
        padding: 0.5%;
        margin: 1%;
        text-align: left;
      }
      #resort_name {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
      }
      #input_button {
        color: #fff;
        font-size: 22px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        }
      }
    }

  #resort_index {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 5%;
        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          border: solid #FF00DE 2px;
      }
        h2 {
          a {
            color: #FF00DE;
          }
        }
      }
    }
    .pagination {
      a {
        color: #555;
        font-size: 18px;
      }
      a:hover {
        color: #FF00DE;
      }
    }  
  }

  .resort_show {

    nav {
      background-color: #FF00DE;
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 999999999;
    }

    nav a {
      color: #000;
      font-weight: bold;
      text-decoration: none;
      line-height: 2em;
      display: inline-block;
    }

    a:hover {
      color: #555;
    }

    .active {
      background: #eee;
      padding-left: 2%;
      padding-right: 2%;
    }

    .overview {
      background-image: url('/assets/background_3.jpg');
      background-size: cover;
      .overview-show {
        padding-top: 5%;
        padding-bottom: 10%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        h1 {
          color: #000;
        }
        .star {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          img {
            width: 35%;
          }
        }
        p {
          color: #000;
          font-size: 28px;
        }
        .pure-img {
          margin-bottom: 40%;
          #map_canvas {
            border: solid #FF00DE 3px;
            display: inline-block;
            width: 500px;
            height: 500px;
            float: left;
            margin-right: 5px;
            a {
              font-size: 14px;
            }
          }
          img {
            width: 550px;
            float: right;
            border: solid #FF00DE 3px;
          }
        }
        a {
          color: #000;
          font-size: 22px;
          text-decoration: none;
        }
        a:hover {
          color: #FF00DE;
        }
      }
    }

    .reviews {
      background-image: url('/assets/background_2.jpg');
      background-size: cover;
      .comment-show {
        padding-top: 5%;
        padding-bottom: 10%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        h1 {
          font-weight: bold;
          font-size: 36px;
          display: block;
          a {
            color: #000;
          }
          a:hover {
          color: #FF00DE;
          }
        }
        #write_review {
          .pure-input-rounded#input_button_review {
            margin-top: 2%;
            color: #FF00DE;
            font-weight: bold;
            background: #ddd;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 1%;
            padding-bottom: 1%;
          }
            
        }
        #comment_display {
          margin-top: 5%;
          background-color: #ddd;
          #single_comment_display {
            border: solid #fff 1px;
            padding: 2%;
            text-align: left;
            .pure-g {
              .pure-u-1-4 {
                a {
                  text-decoration: none;
                  color: #FF00DE;
                  font-weight: bold;
                  img {
                    border-radius: 50%;
                  }
                }
                a:hover {
                  color: #555;
                }
              }
              .pure-u-3-4 {
                p {
                  line-height: 1.5;           
                }
                a {
                  float: right;
                  color: #555;
                }
                a:hover {
                  color: #FF00DE;
                }
                img {
                  width: 50%;
                  float: right;
                }
              }
            }
          }
        }
      }
    }
  
    .weather {
      background: #fff;
      .weather-show {
        padding-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
        #weather_overview {
          h1 {
            color: #FF00DE;
          }
          table {
            background-color: #eee;
            tr {
              border-bottom: solid #fff 1px;
              th {
                padding: 1%;
              }
              td {
                padding: 1%;
                width: 16%;
              }
            }
          }
        }
        #weather_forecast {
          background: #eee;
          padding: 2%;
          p {
            font-size: 12px;
            color: #FF00DE;
          }
        }
      }
    }
  }

  #profile_show {
    background-image: url('/assets/skiers.jpg');
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 25%;
    h1 {
      color: #FF00DE;
      margin-bottom: 3%;
      font-size: 42px;
      a {
        vertical-align: middle;
      }
    }
    .profile_show_links {
      float: right;
    }
    .pure-g.profile_show {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .pure-u-1-3 {
        .profile_picture {
          img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
          }
        }  
      }
      .pure-u-2-3
        .profile_show {
          table {
            background-color: #eee;
            tr {
              border-bottom: solid #fff 1px;
              td, th {
                padding: 2%;
                text-align: left;
              }
            }
            tr:last-child {
              border-bottom: none;
            }
          }
        }
    }
  }
  
  .set_profile {
    h1 {
      a {
        margin-left: 2%;
        vertical-align: middle;
      }
    }
    background-color: #eee;
    padding: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    .pure-form.pure-form-stacked.pure-form-aligned {
      .set_profile_form {
        text-align: left;
        .set_profile_submit_button {
          text-align: center;
          margin-top: 4%;
          #input_button_set_profile {
            color: #fff;
            font-size: 16px;
            padding-left: 4.5%;
            padding-right: 4.5%;
            padding-top: 0.75%;
            padding-bottom: 0.75%;
          }
        }
        .set_profile_form_fields {
          margin-top: 2%;
          margin-button: 2%;
          label {
            font-weight: bold;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .menu {
    ul {
      li {
        font-weight: none;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        padding: 2%;
      }
    }
  }
  .main_section {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 24px;
    }
    #search {
      .pure-form {
        input {
          font-size: 24px;
        }
      }
    }  
    #sign-up {
      input {
        font-size: 16px;
      }
    }
    #sign-in {
      input {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .menu {
    ul {
      li {
        font-size: 16px;
      }
    }
  }
  .main_section {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
    }
    #search {
      .pure-form {
        input {
          font-size: 18px;
        }
      }  
    }
    #sign-up {
      .pure-form {
        input {
          font-size: 18px;
        }
      }  
    }
    #sign-in {
      .pure-form {
        input {
          font-size: 18px;
        }
      }  
    }
  }
}

